# CMake cache
CMakeLists.txt.user
CMakeLists.txt.user*

# OS thumbnail files
.DS_Store
Thumbs.db

# IDEs
*.sublime-*
# Qt Creator
/*.creator
/*.creator.user*
/*.files
/*.config
/*.includes
*.autosave

# Doxygen
html/*
latex/*
